<app-barra-navegacion></app-barra-navegacion>

<main class="main-content">
  <h1>Proveedores</h1>
  <div class="table-container">
    <table id="proveedoresTable">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>RFC</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="proveedoresMostrados.length > 0">
          <tr *ngFor="let prov of proveedoresMostrados" (click)="goToProductosByProveedor(prov)">
            <td>{{ prov.empresa }}</td>
            <td>{{ prov.email }}</td>
            <td>{{ prov.telefono }}</td>
            <td>{{ prov.rfc }}</td>
            <td>
              <button class="ver" (click)="verProveedor(prov); $event.stopPropagation()">Ver</button>
              <button *ngIf="mostrarActivos" class="editar"
                (click)="openEditModalNew(prov); $event.stopPropagation()">Editar</button>
              <button [ngClass]="{'eliminar': mostrarActivos, 'activar': !mostrarActivos}"
                (click)="mostrarActivos ? eliminarProveedor(prov) : activarProveedor(prov); $event.stopPropagation()">
                {{ mostrarActivos ? 'Eliminar' : 'Activar' }}
              </button>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="proveedoresMostrados.length === 0">
          <td colspan="5" style="text-align: center; padding: 20px;">
            No se encontraron proveedores {{ mostrarActivos ? 'activos' : 'eliminados' }}.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-actions">
    <button class="cart-btn add-btn" (click)="openModal()">Agregar proveedor</button>
    <button class="cart-btn toggle-btn" (click)="toggleMostrarActivos()">
      Ver {{ mostrarActivos ? 'Eliminados' : 'Activos' }}
    </button>
  </div>

<!-- Modal agregar -->
  <div id="modal" class="modal" [style.display]="isModalOpen ? 'block' : 'none'">
    <div class="modal-content">
      <h2 class="modal-title">Agregar Proveedor</h2>
      <form #proveedorForm="ngForm" (ngSubmit)="saveProveedor(proveedorForm)">
        <div class="form-columns">
          <div class="form-group">
            <label for="empresa">Empresa:</label>
            <input type="text" id="empresa" name="empresa" [(ngModel)]="empresa" required>
          </div>

         <!-- <div class="form-group">
            <label for="fechaRegistro">Fecha de Registro:</label>
            <input type="date" id="fechaRegistro" name="fechaRegistro" [(ngModel)]="fechaRegistro" required
              [readonly]="true">
          </div>-->

          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" pattern="[0-9]{10}" [(ngModel)]="telefono" required>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
          </div>

          <div class="form-group">
            <label for="rfc">RFC:</label>
            <input type="text" id="rfc" name="rfc" pattern="[A-Za-z0-9]{12}" [(ngModel)]="rfc" required>
          </div>

          <div class="form-group">
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" [(ngModel)]="selectedEstadoId" (change)="updateCiudades()" required>
              <option value="">Seleccione un estado</option>
              <option *ngFor="let estado of estados" [value]="estado.idEstado">{{ estado.nombreEstado }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="ciudad">Ciudad:</label>
            <select id="ciudad" name="ciudad" [(ngModel)]="selectedCiudad"  required>
              <option value="">Seleccione una ciudad</option>
              <option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">{{ ciudad?.nombreCiudad }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="codigoPostal">Código Postal:</label>
            <input type="text" id="codigoPostal" name="codigoPostal" pattern="[0-9]{5}" [(ngModel)]="codigoPostal"
              required>
          </div>

          <div class="form-group">
            <label for="colonia">Colonia:</label>
            <input type="text" id="colonia" name="colonia" [(ngModel)]="colonia" required>
          </div>

          <div class="form-group">
            <label for="calle">Calle:</label>
            <input type="text" id="calle" name="calle" [(ngModel)]="calle" required>
          </div>

          <div class="form-group">
            <label for="numero">Numero:</label>
            <input type="text" id="numero" name="numero" [(ngModel)]="numero" required>
          </div>

          <label for="estatus" *ngIf="false">Estatus:</label>
          <select id="estatus" name="estatus" [(ngModel)]="estatus" required *ngIf="false">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>
        </div>
      </form>
      <br>
      <div class="centered-buttons">
        <button type="button" class="guardar" (click)="saveProveedor(proveedorForm)"
          >Guardar</button>
        <button type="button" class="limpiar" (click)="clearForm()">Limpiar campos</button>
        <button type="button" class="cancelar" (click)="closeModal()">Cancelar</button>
      </div>
    </div>
  </div>
<!-- Modal ver datos -->
  <div id="viewModal" class="modal" [style.display]="isViewModalOpen ? 'block' : 'none'">
    <div class="modal-content">
      <h2 class="modal-title">Ver Proveedor</h2>
      <form *ngIf="selectedProveedor">
        <div class="form-columns">
          <div class="form-group">
            <label for="viewEmpresa">Empresa:</label>
            <input type="text" id="viewEmpresa" [value]="selectedProveedor.empresa" readonly>
          </div>

          <div class="form-group">
            <label for="viewFechaRegistro">Fecha de Registro:</label>
            <input type="date" id="viewFechaRegistro" [value]="selectedProveedor.fechaRegistro" readonly>
          </div>

          <div class="form-group">
            <label for="viewFechaTermino">Fecha de Término:</label>
            <input type="date" id="viewFechaTermino" [value]="selectedProveedor.fechaTermino" readonly>
          </div>

          <div class="form-group">
            <label for="viewEstatus">Estatus:</label>
            <input type="text" id="viewEstatus" [value]="selectedProveedor.estatus === true ? 'Activo' : 'Inactivo'"
              readonly>
          </div>

          <div class="form-group">
            <label for="viewTelefono">Teléfono:</label>
            <input type="text" id="viewTelefono" [value]="selectedProveedor.telefono" readonly>
          </div>

          <div class="form-group">
            <label for="viewEmail">Email:</label>
            <input type="email" id="viewEmail" [value]="selectedProveedor.email" readonly>
          </div>

          <div class="form-group">
            <label for="viewRFC">RFC:</label>
            <input type="text" id="viewRFC" [value]="selectedProveedor.rfc" readonly>
          </div>

          <div class="form-group">
            <label for="viewEstado">Estado:</label>
            <input type="text" id="viewEstado" [value]="selectedProveedor.domicilio.ciudad.estado.nombreEstado" readonly>
          </div>

          <div class="form-group">
            <label for="viewCiudad">Ciudad:</label>
            <input type="text" id="viewCiudad" [value]="selectedProveedor.domicilio?.ciudad?.nombreCiudad" readonly>
          </div>

          <div class="form-group">
            <label for="viewCodigoPostal">Código Postal:</label>
            <input type="text" id="viewCodigoPostal" [value]="selectedProveedor.domicilio?.codigoPostal" readonly>
          </div>

          <div class="form-group">
            <label for="viewColonia">Colonia:</label>
            <input type="text" id="viewColonia" [value]="selectedProveedor.domicilio?.colonia" readonly>
          </div>

          <div class="form-group">
            <label for="viewCalle">Calle:</label>
            <input type="text" id="viewCalle" [value]="selectedProveedor.domicilio?.calle" readonly>
          </div>

          <div class="form-group">
            <label for="viewNumero">Número:</label>
            <input type="text" id="viewNumero" [value]="selectedProveedor.domicilio?.numero" readonly>
          </div>

        </div>
      </form>
      <div class="buttons" style="text-align: center; margin-top: 20px;">
        <button type="button" class="cancelar" (click)="closeViewModal()">Cerrar</button>
      </div>
    </div>
  </div>
<!-- Modal editar -->
  <div id="editModalNew" class="modal" [style.display]="isEditModalNewOpen ? 'block' : 'none'">
    <div class="modal-content">
      <h2 class="modal-title">Editar Proveedor</h2>
      <form #editNewProveedorForm="ngForm" (ngSubmit)="saveEditedProveedorNew(editNewProveedorForm)">
        <div class="form-columns">
          <div class="form-group">
            <label for="editNewEmpresa">Empresa:</label>
            <input type="text" id="editNewEmpresa" name="empresa" [(ngModel)]="editNewForm.empresa" required>
          </div>

          <div class="form-group">
            <label for="editNewFechaRegistro">Fecha de Registro:</label>
            <input type="date" id="editNewFechaRegistro" name="fechaRegistro"   [ngModel]="getFechaRegistroForInput()"

              required [readonly]="true">
          </div>

          <!--<div class="form-group">
            <label for="viewEstatus">Estatus:</label>
            <input type="text" id="viewEstatus" [value]="selectedProveedor.estatus === true ? 'Activo' : 'Inactivo'"
              readonly>
          </div>-->


          <div class="form-group">
            <label for="editNewTelefono">Teléfono:</label>
            <input type="text" id="editNewTelefono" name="telefono" pattern="[0-9]{10}"
              [(ngModel)]="editNewForm.telefono" required>
          </div>

          <div class="form-group">
            <label for="editNewEmail">Email:</label>
            <input type="email" id="editNewEmail" name="email" [(ngModel)]="editNewForm.email" required>
          </div>

          <div class="form-group">
            <label for="editNewRfc">RFC:</label>
            <input type="text" id="editNewRfc" name="rfc" pattern="[A-Za-z0-9]{12}" [(ngModel)]="editNewForm.rfc"
              required [readonly]="true">
          </div>

          <div class="form-group">
            <label for="editNewEstado">Estado:</label>
            <select id="editNewEstado" name="estado" [(ngModel)]="editNewForm.domicilio.ciudad.estado.idEstado"
              (change)="updateCiudadesForEditNew()" required>
              <option value="">Seleccione un estado</option>
              <option *ngFor="let estado of estados" [value]="estado.idEstado">{{ estado.nombreEstado }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="editNewCiudad">Ciudad:</label>
            <select id="editNewCiudad" name="ciudad" [(ngModel)]="editNewForm.domicilio.ciudad.nombreCiudad" required>
              <option value="">Seleccione una ciudad</option>
              <option *ngFor="let ciudad of editNewFormCiudades" [value]="ciudad.idCiudad">{{ ciudad.nombreCiudad }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="editNewCodigoPostal">Código Postal:</label>
            <input type="text" id="editNewCodigoPostal" name="codigoPostal" pattern="[0-9]{5}"
              [(ngModel)]="editNewForm.domicilio.codigoPostal" required>
          </div>

          <div class="form-group">
            <label for="editNewColonia">Colonia:</label>
            <input type="text" id="editNewColonia" name="colonia" [(ngModel)]="editNewForm.domicilio.colonia" required>
          </div>

          <div class="form-group">
            <label for="editNewCalle">Calle:</label>
            <input type="text" id="editNewCalle" name="calle" [(ngModel)]="editNewForm.domicilio.calle" required>
          </div>

          <div class="form-group">
            <label for="editNewNumero">Numero:</label>
            <input type="text" id="editNewNumero" name="numero" [(ngModel)]="editNewForm.domicilio.numero" required>
          </div>

        </div>
      </form>
      <br>
      <div class="centered-buttons">
        <button type="button" class="guardar" (click)="saveEditedProveedorNew(editNewProveedorForm)"
        >Actualizar</button>
        <!--[disabled]="!editNewProveedorForm.form.valid">Actualizar</button>-->
        <button type="button" class="cancelar" (click)="closeEditModalNew()">Cancelar</button>
      </div>
    </div>
  </div>

</main>

<footer>
  <div class="footer-content">
    <div class="footer-column">
      <h4>TechGuardian Solutions</h4>
      <p>Tu tienda especializada en productos Arduino y componentes electrónicos para todos tus proyectos.</p>
    </div>
    <div class="footer-column">
      <h4>Enlaces rápidos</h4>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Kits</a></li>
        <li><a href="#">Tutoriales</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Ayuda</h4>
      <ul>
        <li><a href="#">FAC</a></li>
        <li><a href="#">Envíos</a></li>
        <li><a href="#">Devoluciones</a></li>
        <li><a href="#">Garantía</a></li>
        <li><a href="#">Política de privacidad</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Contacto</h4>
      <p>Calle San Cristobal, 123</p>
      <p>+34 912 345 678</p>
      <p>infotechguardiansolutions.com</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 TechGuardian Solutions - Todos los derechos reservados</p>
  </div>
</footer>
