<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  xintegrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<app-barra-navegacion></app-barra-navegacion>


<main class="main-content">
  <h1>Gestión de Empleados</h1>


  <div class="container mt-4">


    <!-- Tabla de empleados -->
    <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>CURP</th>
            <th>RFC</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="empleadosMostrados.length > 0">

            <tr *ngFor="let emp of empleadosMostrados" (click)="verEmpleado(emp)">
              <td>{{ emp.persona?.nombre }} {{ emp.persona?.apPaterno }} {{ emp.persona?.apMaterno }}</td>
              <td>{{ emp.puesto }}</td>
              <td>{{ emp.curp }}</td>
              <td>{{ emp.rfc }}</td>
              <td>
                <button class="btn btn-info btn-sm" (click)="verEmpleado(emp); $event.stopPropagation()">Ver</button>
                <button class="btn btn-warning btn-sm"
                  (click)="editarEmpleado(emp); $event.stopPropagation()">Editar</button>


                <button [ngClass]="{'eliminar': mostrarActivos, 'activar': !mostrarActivos}"
                  (click)="mostrarActivos ? eliminarEmpleado(emp.idEmpleado) : reactivarEmpleado(emp.idEmpleado); $event.stopPropagation()">
                  {{ mostrarActivos ? 'Eliminar' : 'Activar' }}
                </button>
              </td>
            </tr>
          </ng-container>

          <tr *ngIf="empleadosMostrados.length === 0">
            <td colspan="5" style="text-align: center; padding: 20px;">
              No se encontraron empleados {{ mostrarActivos ? 'activos' : 'eliminados' }}.
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="table-actions">
      <button class="cart-btn add-btn" (click)="nuevoEmpleado()">Agregar empleado</button>
      <button class="cart-btn toggle-btn" (click)="toggleMostrarActivos()">
        Ver {{ mostrarActivos ? 'Eliminados' : 'Activos' }}
      </button> <!-- Comentado por que no funciona correctamente -->
    </div>

    <!-- Modal Registro/Edición -->
    <div class="modal" id="modal" [style.display]="isRegisterModalOpen ? 'block' : 'none'">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form (ngSubmit)="guardarEmpleado()" #empleadoForm="ngForm">
            <h5 class="modal-title">{{ editMode===0 ? 'Registrar Empleado' : editMode===1 ? 'Editar Empleado' :
              'Información Empleado'}}</h5>
            <div class="modal-body">

              <!-- Datos personales -->
              <div class="row">
                <h5 class="title">Datos personales</h5>
                <div class="col-md-4 form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" name="nombre" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.persona.nombre" required>
                </div>
                <div class="col-md-4 form-group">
                  <label>Apellido Paterno</label>
                  <input type="text" class="form-control" name="apPaterno" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.persona.apPaterno" required>
                </div>
                <div class="col-md-4 form-group">
                  <label>Apellido Materno</label>
                  <input type="text" class="form-control" name="apMaterno" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.persona.apMaterno" required>
                </div>
                <div class="col-md-4 form-group">
                  <label>CURP</label>
                  <input type="text" class="form-control" name="curp" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.curp" required>
                </div>
                <div class="col-md-4 form-group">
                  <label>Teléfono</label>
                  <input type="tel" class="form-control" name="telefono" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.persona.telefono" required>
                </div>

                <div class="col-md-4 form-group">
                  <label>Fecha nacimiento</label>
                  <input type="date" class="form-control" name="fechaNacimiento" [disabled]="editMode !== 0"
                    [(ngModel)]="empleadoActual.persona.fechaNacimiento" required>
                </div>
                <div class="form-group">
                  <label for="genero">Género:</label>
                  <select id="genero" name="genero" [(ngModel)]="empleadoActual.persona.genero" required>
                    <option value="O">Otro</option>
                    <option value="H">Hombre</option>
                    <option value="M">Mujer</option>
                  </select>
                </div>

                <!-- Domicilio -->
                <div class="col-md-6 form-group">
                  <label>Estado</label>
                  <select class="form-select" name="estado" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="estadoSeleccionado" (change)="filtrarCiudadesPorEstado(estadoSeleccionado)" required>
                    <option value="">Seleccione un estado</option>
                    <option *ngFor="let est of estados" [ngValue]="est.idEstado">{{ est.nombreEstado }}</option>
                  </select>
                </div>
                <div class="col-md-6 form-group">
                  <label>Ciudad</label>
                  <select class="form-select" name="ciudad" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.persona.domicilio.idCiudad" required>
                    <option value="">Seleccione una ciudad</option>
                    <option *ngFor="let c of ciudadesFiltradas" [ngValue]="c.idCiudad">{{ c.nombreCiudad }}</option>
                  </select>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-4 form-group">
                  <label>Calle</label>
                  <input type="text" class="form-control" name="calle" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.persona.domicilio.calle" required>
                </div>
                <div class="col-md-4 form-group">
                  <label>Número</label>
                  <input type="text" class="form-control" name="numero" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.persona.domicilio.numero" required>
                </div>
                <div class="col-md-4 form-group">
                  <label>Código Postal</label>
                  <input type="text" class="form-control" name="codigoPostal"
                    [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.persona.domicilio.codigoPostal" required>
                </div>
              </div>


              <!-- Datos laborales -->
              <div class="row mt-5">
                <h5 class="mb-3 ">Datos laborales</h5>
                <div class="col-md-4 form-group">
                  <label>Puesto</label>
                  <input type="text" class="form-control" name="puesto" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.puesto" required>
                </div>

                <div class="col-md-4 form-group">
                  <label>Correo</label>
                  <input type="email" class="form-control" name="email" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.persona.email" required>
                </div>

                <div class="col-md-4 form-group">
                  <label>RFC</label>
                  <input type="text" class="form-control" name="rfc" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.rfc" required>
                </div>
                <div class="col-md-4 form-group">
                  <label>Salario Bruto</label>
                  <input type="number" class="form-control" name="salario" [disabled]="editMode !== 0 && editMode !== 1"
                    [(ngModel)]="empleadoActual.salarioBruto" required>
                </div>
                <div class="col-md-4 form-group">
                  <label>Fecha Ingreso</label>
                  <input type="date" class="form-control" name="fechaIngreso" [disabled]="editMode !== 0"
                    [(ngModel)]="empleadoActual.fechaIngreso" required>
                </div>
                <div class="col-md-4" [hidden]="empleadoActual.usuario?.estatus">
                <label>Fecha Renuncia</label>
                <input type="date" class="form-control" name="fechaRenuncia" [disabled]="true" [(ngModel)]="empleadoActual.fechaRenuncia">
              </div>
              </div>



              <!-- Datos de usuario -->
              <div class="row mt-5" [hidden]="editMode != 0">
                <h5 class="title">Datos de usuario</h5>
                <div class="form-group" [hidden]="editMode != 0">
                  <label for="editNombreUsuario">Nombre de Usuario:</label>
                  <!-- CAMBIO: Eliminado readonly y añadido [(ngModel)] y name -->
                  <input type="text" id="editNombreUsuario" name="editNombreUsuario"
                    [(ngModel)]="empleadoActual.usuario!.nombreUsuario" required>
                </div>

                <div class="form-group" [hidden]="editMode != 0">
                  <label for="editContrasenia">Contraseña:</label>
                  <!-- CAMBIO: Eliminado readonly y añadido [(ngModel)] y name. Considera si realmente quieres que la contraseña sea editable así. -->
                  <input type="password" id="editContrasenia" name="editContrasenia"
                    [(ngModel)]="empleadoActual.usuario!.contrasenia">
                </div>

                <div class="form-group" [hidden]="editMode != 0">
                  <label for="newRol">Rol:</label>
                  <select id="newRol" name="newRol" [(ngModel)]="empleadoActual.usuario!.rol" required>
                    <option value="ADMS">Administrador</option>
                    <option value="EMPL">Empleado</option>
                  </select>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button [hidden]="editMode===2" type="submit" class="btn btn-success" [disabled]="!empleadoForm.form.valid">
                {{ editMode ? 'Actualizar' : 'Registrar' }}
              </button>
              <button [hidden]="editMode===2" type="button" class="limpiar" (click)="limpiarForm()">Limpiar campos</button>
              <button type="button" class="cancelar" (click)="cerrarModal()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</main>

<app-footer></app-footer>
