
<header>
  <div class="brand">
    <div class="logo">
      <img src="../assets/TS.png" alt="TechGuardian Solutions Logo">
    </div>
    <div class="brand-text">TechGuardian Solutions</div>
  </div>
  <nav>
    <a href="#nosotros">Nosotros</a>
    <a href="#productos">Productos</a>
    <a href="#asesorias">Asesorías</a>
  </nav>
  <button class="login-btn" (click)="goToLogin()">Iniciar Sesión</button>
</header>

<main class="main-content">
  <ngb-carousel [interval]="3000" [showNavigationIndicators]="true" [keyboard]="true" [pauseOnHover]="true">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </ng-template>
  </ngb-carousel>
  <h1>Tu tienda especializada en Arduino</h1>
  <p>Encuentra todos los componentes, kits y accesorios para tus proyectos electrónicos</p>
  <div class="section">
    <h2>Nosotros</h2>
    <div class="cards-container">
      <div class="info-card">
        <h3>Nuestra Misión</h3>
        <p>Desarrollar e implementar sistemas embebidos innovadores y eficientes que mejoren el rendimiento y la funcionalidad de una amplia gama de dispositivos, satisfaciendo las necesidades específicas de nuestros clientes. </p>
      </div>

      <div class="info-card">
        <h3>Nuestra Visión</h3>
        <p>Ser reconocidos como líderes en la industria de sistemas embebidos en México, destacándonos por nuestra capacidad de innovación, calidad y compromiso con la excelencia. </p>
      </div>

      <div class="info-card special-scroll-card"> <h3>Nuestros Valores</h3>
        <ul>
          <li>Innovación: Fomentamos la creatividad y la búsqueda constante de nuevas soluciones tecnológicas. </li>
          <li>Calidad: Nos comprometemos a entregar productos y servicios que cumplan con los más altos estándares de calidad. </li>
          <li>Colaboración: Trabajamos en equipo con nuestros clientes y socios para alcanzar objetivos comunes.</li>
          <li>Responsabilidad: Asumimos nuestras acciones y nos esforzamos por superar las expectativas de nuestros clientes. </li>
          <li>Integridad: Actuamos con honestidad y transparencia en todas nuestras operaciones. </li>
        </ul>
      </div>

    </div>
  </div>
</main>


<app-footer></app-footer>
